ENABLE_HEALTH_CHECK=
REACT_APP_BACKEND_URL=
WDS_SOCKET_PORT=
GEMINI_API_KEY=

# PostgreSQL Database Configuration (Google Cloud SQL)
SQL_HOST=
SQL_DB_NAME=
SQL_USER=
SQL_PASSWORD=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=
PGPORT=5432
PGDATABASE=
PGUSER=
PGPASSWORD=
PGHOST=
