ENABLE_HEALTH_CHECK=
REACT_APP_BACKEND_URL=
WDS_SOCKET_PORT=
GEMINI_API_KEY=

# PostgreSQL Database Configuration
SQL_HOST=
SQL_PORT=5432
SQL_DB_NAME=
SQL_USER=
SQL_PASSWORD=
DATABASE_URL=

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
APP_URL=
